bin
obj
temp
docs/output
*.suo
nuget/*.nupkg
*.user
__setup__*__.fsx
TestResults.xml
packages
TestResult.xml
*.VisualState.xml
*.userprefs
log.csv
log.txt
.paket/
paket-files/
paket.lock
*.ide
*.bak
.vs
.fake
TestResults
*.log
.vscode
.idea
.ionide
output
tmp
.fsdocs
*.obtained
build/
build.fsx.lock
.DS_Store